.admin_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.admin_header h1 {
  font-weight: 600;
  padding: 20px;
}

.admin_nav {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.admin_nav li {
  padding: 20px;
  color: #00000099;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.admin_nav li:hover {
  color: black;
  border-bottom: 1px solid black;
}

.admin_nav li.active {
  color: black;
  border-bottom: 1px solid black;
}
